---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { blogPageContent } from "../../config";

const posts = await getCollection("posts");
for (const post of posts) {
  const { remarkPluginFrontmatter } = await post.render();
  post.data.readingTime = remarkPluginFrontmatter.minutesRead;
}
---

<Layout seo={blogPageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Blog</h1>
    <p class="opacity-60 mb-14">{blogPageContent.subtitle}</p>

    <div class="grid grid-cols-1 gap-10 sm:gap-6 mb-10">
      {
        posts.map((post) => (
          <a
            href={`/blog/${post.slug}`}
            class=" sm:flex sm:flex-row-reverse sm:justify-between sm:gap-6 post"
          >
            <Image
              src={post.data.image.url}
              alt={post.data.image.url}
              width={100}
              height={100}
              class={"rounded-lg w-[100px] h-[100px] object-cover"}
            />
            <div class="mt-4 sm:my-auto">
              <p class="opacity-60 mb-2">
                {post.data.pubDate.toLocaleDateString()} ·{" "}
                {post.data.readingTime}
              </p>
              <h3 class="font-medium hover-underline">{post.data.title}</h3>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
