---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import LogoImage from "/public/logo.webp";
import { socialLinks, homePageLinks, identity } from "../config";
import SocialLink from "../components/SocialLink.astro";
import Link from "../components/Link.astro";
---

<Layout title="Welcome to Astro." description="Welcome">
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">{identity.name}</h1>
    <p class="opacity-60 mb-10">{identity.role}</p>
    <div class="flex flex-col min-[520px]:flex-row gap-6 mb-8">
      <Image
        src={LogoImage}
        alt="Logo"
        width={100}
        height={100}
        class="rounded-full"
      />
      <div class="group flex flex-col justify-center gap-2 w-fit">
        {
          socialLinks.map((link) => (
            <SocialLink
              title={link.title}
              url={link.url}
              icon={link.icon}
              external={link.external}
            />
          ))
        }
      </div>
    </div>
    <p class="max-w-md mb-8">
      {identity.description}
    </p>
    <div class="flex items-center gap-4 group w-fit">
      {
        homePageLinks.map((link) => (
          <Link text={link.title} href={link.url} external={link.external} />
        ))
      }
    </div>
  </section>
</Layout>
