---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { homePageContent, identity } from "../config";
import SocialLink from "../components/SocialLink.astro";
import Link from "../components/Link.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout seo={homePageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">{identity.name}</h1>
    <p class="opacity-60 mb-10">{homePageContent.role}</p>
    <div class="flex flex-col min-[520px]:flex-row gap-6 mb-8">
      <Image
        src={identity.logo}
        alt={identity.name}
        width={100}
        height={100}
        class="rounded-full"
      />
      <div class="group flex flex-col justify-center gap-2 w-fit">
        {
          homePageContent.socialLinks.map((link) => (
            <SocialLink
              title={link.title}
              url={link.url}
              icon={link.icon}
              external={link.external}
            />
          ))
        }
      </div>
    </div>
    <p class="max-w-md mb-8">
      {homePageContent.description}
    </p>
    <div class="flex items-center gap-4 group w-fit">
      {
        homePageContent.links.map((link) => (
          <Link text={link.title} href={link.url} external={link.external} />
        ))
      }
    </div>
  </section>
  <section class="mt-20 max-w-2xl mx-auto px-6">
    <h2 class="mb-8">Latest Posts</h2>
    <div class="grid grid-cols-1 gap-10 sm:gap-6 mb-10">
      {
        posts.map((post) => (
          <a
            href={`/blog/${post.slug}`}
            class=" sm:flex sm:flex-row-reverse sm:justify-between sm:gap-6 post"
          >
            <Image
              src={post.data.image.url}
              alt={post.data.image.url}
              width={100}
              height={100}
              class={"rounded-lg w-[100px] h-[100px] object-cover"}
            />
            <div class="mt-4 sm:my-auto">
              <p class="opacity-60 mb-2">
                {post.data.pubDate.toLocaleDateString()}
              </p>
              <h3 class="font-medium hover-underline">{post.data.title}</h3>
            </div>
          </a>
        ))
      }
    </div>
    <div class="text-center">
      <a
        href="/blog"
        class="underline underline-offset-4 opacity-60 hover:opacity-100 transition-opacity"
        >View all</a
      >
    </div>
  </section>
</Layout>
