---
import { Image } from "astro:assets";
import type { Project } from "../types/config";
import { Markdown } from "@astropub/md";

type Props = Project;

const { title, description, image, year, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="sm:py-5 py-10 flex flex-col sm:flex-row gap-6 group-hover:opacity-60 hover:!opacity-100 transition-opacity"
>
  <div class="h-full bg-gray-700 rounded-lg aspect-video sm:h-[150px]">
    <Image
      width={1920}
      height={1080}
      src={image}
      alt={title}
      class="w-full h-full object-cover rounded-lg aspect-video"
    />
  </div>
  <div>
    <div class="flex items-center gap-1 mb-2">
      <h2 class="font-medium">{title}</h2>
      <span class="opacity-60">· {year}</span>
    </div>
    <div class="opacity-60">
      <Markdown of={description} />
    </div>
  </div>
</a>
