---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { navBarLinks, identity } from "../config";
import type { SEOInfo } from "../types/config";

interface Props {
  seo: SEOInfo;
}

const { seo } = Astro.props;
---

<script>
  const linkMenuButton = document.getElementById(
    "link-menu-button"
  ) as HTMLButtonElement;
  const linkMenu = document.getElementById("link-menu") as HTMLDivElement;
  const openIndicator = document.getElementById(
    "open-indicator"
  ) as HTMLSpanElement;

  linkMenuButton.addEventListener("click", () => {
    if (linkMenu.classList.contains("opacity-0")) {
      linkMenu.classList.remove("pointer-events-none");
      linkMenu.classList.remove("opacity-0");
      openIndicator.innerText = "-";
    } else {
      linkMenu.classList.add("pointer-events-none");
      linkMenu.classList.add("opacity-0");
      openIndicator.innerText = "+";
    }
  });

  document.addEventListener("click", (event) => {
    const isLinkMenuButtonClicked =
      event.target === linkMenuButton ||
      linkMenuButton.contains(event.target as Node);
    const isLinkMenuClicked =
      event.target === linkMenu || linkMenu.contains(event.target as Node);

    if (!isLinkMenuButtonClicked && !isLinkMenuClicked) {
      linkMenu.classList.add("pointer-events-none");
      linkMenu.classList.add("opacity-0");
      openIndicator.innerText = "+";
    }
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{seo.title}</title>
    <meta name="description" content={seo.description} />
    <meta property="og:title" content={seo.title} />
    <meta property="og:description" content={seo.description} />
    <meta property="og:image" content={seo.image} />
  </head>
  <body>
    <header>
      <div
        class="px-6 py-6 max-w-2xl mx-auto flex items-center justify-between"
      >
        <a href="/">
          <Image
            src={identity.logo}
            alt={"Logo"}
            width={50}
            height={50}
            class="w-[50px] h-[50px] object-cover"
          />
        </a>
        <nav class="ml-auto mr-6 sm:m-0">
          <ul class="hidden sm:flex sm:items-center sm:gap-2">
            {
              navBarLinks.map((link) => (
                <li>
                  <a
                    class="group px-4 py-2 rounded-lg hover:bg-gray-bg opacity-60 hover:opacity-100 transition-all"
                    href={link.url}
                    target={link.external ? "_blank" : "_self"}
                  >
                    {link.title}
                  </a>
                </li>
              ))
            }
          </ul>
          <div class="relative sm:hidden">
            <button
              id="link-menu-button"
              class="relative font-medium opacity-60 p-4"
              >Menu <span id="open-indicator">+</span></button
            >
            <div
              id="link-menu"
              class="absolute p-2 right-0 bg-gray-bg rounded-lg w-44 transition-opacity ease-in-out duration-300 opacity-0 z-40"
            >
              <ul>
                {
                  navBarLinks.map((link) => (
                    <li>
                      <a
                        class="block pl-4 py-3"
                        href={link.url}
                        target={link.external ? "_blank" : "_self"}
                      >
                        {link.title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </nav>
        <div>
          <a
            href=`mailto:${identity.email}`
            class="block p-2 opacity-60 hover:opacity-100 transition-opacity"
            aria-label="Email"
          >
            <Icon name="mdi:email" width={20} height={20} />
          </a>
        </div>
      </div>
    </header>
    <main class="mb-32">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

  html {
    font-family: "Inter", sans-serif;
    background: #000000;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    color: white;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .hover-underline {
    text-decoration: underline 1px rgba(0, 0, 0, 0);
    text-underline-offset: 5px;
    transition: text-decoration-color 300ms;
  }

  .post:hover .hover-underline {
    text-decoration-color: rgba(255, 255, 255, 1);
  }
</style>
